<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skotori.sunzboot.module.sys.mapper.SysDeptMapper">

    <select id="selectDeptById" parameterType="java.lang.Integer" resultType="com.skotori.sunzboot.module.sys.model.SysDept">
        select *
        from sys_dept
        where id = #{id}
    </select>

</mapper>