<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skotori.sunzboot.module.sys.mapper.SysDeptMapper">

    <select id="selectList" parameterType="com.skotori.sunzboot.module.sys.entity.SysDept" resultType="com.skotori.sunzboot.module.sys.entity.SysDept">
        select *
        from sys_dept
        where deleted_state = 0
        <if test="id != null and id != ''">
            and parent_ids like concat('%', #{id}, '%')
        </if>
        <if test="name != null and name != ''">
            and `name` like concat('%', #{name}, '%')
        </if>
        <if test="disabledState != null and disabledState != ''">
            and disabled_state = #{disabledState}
        </if>
    </select>

    <select id="selectNodeList" parameterType="com.skotori.sunzboot.module.sys.entity.SysDept" resultType="com.skotori.sunzboot.common.tree.treeNode.DeptTreeNode">
        select *, `name` as label
        from sys_dept
        where deleted_state = 0
        <if test="id != null and id != ''">
            and parent_ids like concat('%', #{id}, '%')
        </if>
        <if test="name != null and name != ''">
            and `name` like concat('%', #{name}, '%')
        </if>
        <if test="disabledState != null and disabledState != ''">
            and disabled_state = #{disabledState}
        </if>
    </select>

    <insert id="insert" parameterType="com.skotori.sunzboot.module.sys.entity.SysDept">
        insert into sys_dept (
            parent_id,
            parent_ids,
            `name`,
            <if test="sortNum != null and sortNum != ''">
                sort_num,
            </if>
            <if test="remark != null and remark != ''">
                remark,
            </if>
            create_time,
            create_user,
            <if test="disabledState != null and disabledState != ''">
                disabled_state,
            </if>
            deleted_state
        ) values (
            #{parentId},
            #{parentIds},
            #{name},
            <if test="sortNum != null and sortNum != ''">
                #{sortNum},
            </if>
            <if test="remark != null and remark != ''">
                #{remark},
            </if>
            #{createTime},
            #{createUser},
            <if test="disabledState != null and disabledState != ''">
                #{disabledState},
            </if>
            0
        )
    </insert>

    <update id="delete" parameterType="java.lang.Integer">
        update sys_dept
        set deleted_state = 1
        where id = #{id}
    </update>

    <update id="update" parameterType="com.skotori.sunzboot.module.sys.entity.SysDept">
        update sys_dept set
        <if test="parentId != null and parentId != ''">
            parent_id = #{parentId},
        </if>
        <if test="parentIds != null and parentIds != ''">
            parent_ids = #{parentIds},
        </if>
        <if test="name != null and name != ''">
            `name` = #{name},
        </if>
        <if test="sortNum != null and sortNum != ''">
            sort_num = #{sortNum},
        </if>
        <if test="state != null and state != ''">
            state = #{state},
        </if>
        <if test="remark != null and remark != ''">
            remark = #{remark},
        </if>
        <if test="updateTime != null and updateTime != ''">
            update_time = #{updateTime},
        </if>
        <if test="disabledState != null and disabledState != ''">
            disabled_state = #{disabledState},
        </if>
        update_user = #{updateUser}
        where id = #{id}
    </update>

</mapper>