<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skotori.sunzboot.module.sys.mapper.SysDeptMapper">

    <select id="selectSidsById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select id
        from sys_dept
        where pids like "%" + #{id} + "%"
    </select>

</mapper>