<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skotori.sunzboot.module.sys.mapper.SysOperationLogMapper">

    <insert id="insertOperationLog" parameterType="com.skotori.sunzboot.module.sys.model.SysOperationLog">
        insert into sys_operation_log (
            account,
            `type`,
            `time`,
            ip,
            `name`,
            method,
            param
        ) values (
            #{account},
            #{type},
            #{time},
            #{ip},
            #{name},
            #{method},
            #{param}
        )
    </insert>

    <select id="selectOperationLogList" parameterType="com.skotori.sunzboot.module.sys.model.SysOperationLog" resultType="com.skotori.sunzboot.module.sys.model.SysOperationLog">
        select *
        from sys_operation_log
        where 1 = 1
        <if test="account != null and account != ''">
            and account like concat('%', #{account}, '%')
        </if>
        <if test="type != null and type != ''">
            and `type` = #{type}
        </if>
    </select>

</mapper>