<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skotori.sunzboot.module.sys.mapper.SysPowerMapper">

    <select id="selectPowerIdsByRoleId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select power_id
        from sys_role_power
        where role_id = #{roleId}
    </select>

    <select id="selectPowerIdsByRoleIds" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select power_id
        from sys_role_power
        where role_id
        in
        <foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>