<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skotori.sunzboot.module.sys.mapper.SysRoleMapper">

    <select id="selectRolesByUserId" parameterType="java.lang.Integer" resultType="com.skotori.sunzboot.module.sys.entity.SysRole">
        select r.id, r.code, r.name
        from sys_role as r
        left join sys_user_role as ur on r.id = ur.role_id
        where ur.user_id = #{userId}
    </select>


    <select id="selectList" parameterType="com.skotori.sunzboot.module.sys.entity.SysRole" resultType="com.skotori.sunzboot.module.sys.entity.SysRole">
        select *
        from sys_role
        where deleted_state = 0
        <if test="name != null and name != ''">
            and `name` like concat('%', #{name}, '%')
        </if>
        <if test="code != null and code != ''">
            and code like concat('%', #{code}, '%')
        </if>
        <if test="deptId != null and deptId != ''">
            and dept_id = #{deptId}
        </if>
        <if test="disabledState != null and disabledState != ''">
            and disabled_state = #{disabledState}
        </if>
    </select>

    <insert id="insert" parameterType="com.skotori.sunzboot.module.sys.entity.SysRole">
        insert into sys_role (
            `name`,
            code,
            dept_id,
            <if test="sortNum != null and sortNum != ''">
                sort_num,
            </if>
            <if test="remark != null and remark != ''">
                remark,
            </if>
            create_time,
            create_user,
            <if test="disabledState != null and disabledState != ''">
                disabled_state,
            </if>
            deleted_state
        ) values (
            #{name},
            #{code},
            #{deptId},
            <if test="sortNum != null and sortNum != ''">
                #{sortNum},
            </if>
            <if test="remark != null and remark != ''">
                #{remark},
            </if>
            #{create_time},
            #{create_user},
            <if test="disabledState != null and disabledState != ''">
                #{disabledState},
            </if>
            0
        )
    </insert>

    <update id="delete" parameterType="java.lang.Integer">
        update sys_role
        set deleted_state = 1
        where id = #{id}
    </update>

    <update id="update" parameterType="com.skotori.sunzboot.module.sys.entity.SysRole">
        update sys_role set
        <if test="name != null and name != ''">
            `name` = #{name},
        </if>
        <if test="code != null and code != ''">
            code = #{code},
        </if>
        <if test="deptId != null and deptId != ''">
            dept_id = #{deptId},
        </if>
        <if test="sortNum != null and sortNum != ''">
            sort_num = #{sortNum},
        </if>
        <if test="remark != null and remark != ''">
            remark = #{remark},
        </if>
        <if test="updateTime != null and updateTime != ''">
            update_time = #{updateTime},
        </if>
        <if test="disabledState != null and disabledState != ''">
            disabled_state = #{disabledState},
        </if>
        update_user = #{updateUser}
        where id = #{id}
    </update>

</mapper>