<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skotori.sunzboot.module.sys.mapper.SysUserMapper">

    <select id="selectUserByAccount" parameterType="java.lang.String" resultType="com.skotori.sunzboot.module.sys.model.SysUser">
        select u.id,
        u.account,
        u.password,
        u.salt,
        u.name,
        u.avatar,
        u.sex,
        u.birthday,
        u.email,
        u.phone,
        u.dept_id,
        d.name as deptName,
        u.status
        from sys_user as u
        left join sys_dept as d on u.dept_id = d.id
        where u.status != 3
        and u.account = #{account}
    </select>

    <select id="selectUserList" parameterType="com.skotori.sunzboot.module.sys.model.SysUser" resultType="com.skotori.sunzboot.module.sys.model.SysUser">
        select u.id,
        u.account,
        u.name,
        u.avatar,
        u.sex,
        u.birthday,
        u.email,
        u.phone,
        u.dept_id,
        d.name as deptName,
        u.status,
        u.note,
        u.create_time,
        u.create_user,
        u.update_time,
        u.update_user
        from sys_user as u
        left join sys_dept as d on u.dept_id = d.id
        where u.status != 3
        <if test="keyword != null and keyword != ''">
            and ( u.account like concat('%', #{keyword}, '%') or u.name like concat('%', #{keyword}, '%') )
        </if>
        <if test="deptId != null and deptId != ''">
            and u.dept_id = #{deptId}
        </if>
        <if test="status != null and status != ''">
            and u.status = #{status}
        </if>
        order by u.id
    </select>

    <select id="selectUserById" parameterType="java.lang.Integer" resultType="com.skotori.sunzboot.module.sys.model.SysUser">
        select u.id,
        u.account,
        u.name,
        u.avatar,
        u.sex,
        u.birthday,
        u.email,
        u.phone,
        u.dept_id,
        d.name as deptName,
        u.status,
        u.note,
        u.create_time,
        u.create_user,
        u.update_time,
        u.update_user
        from sys_user as u
        left join sys_dept as d on u.dept_id = d.id
        where u.status != 3
        and u.id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.skotori.sunzboot.module.sys.model.SysUser">
        insert into sys_user (
            account,
            password,
            salt,
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="avatar != null and avatar != ''">
                avatar,
            </if>
            <if test="sex != null and sex != ''">
                sex,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            dept_id,
            status,
            <if test="note != null and note != ''">
                note,
            </if>
            create_time,
            create_user
        ) values (
            #{account},
            #{password},
            #{salt},
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="avatar != null and avatar != ''">
                #{avatar},
            </if>
            <if test="sex != null and sex != ''">
                #{sex},
            </if>
            <if test="birthday != null">
                #{birthday},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            #{deptId},
            #{status},
            <if test="note != null and note != ''">
                #{note},
            </if>
            #{createTime},
            #{createUser}
        )
    </insert>

    <insert id="insertUserRole">
        insert into sys_user_role (
            user_id,
            role_id
        ) values
        <foreach collection ="roleIds" item="roleId"  separator =",">
            (
                #{userId},
                #{roleId}
            )
        </foreach>
    </insert>

    <delete id="deleteUserRole" parameterType="java.lang.Integer">
        delete from sys_user_role
        where user_id = #{id}
    </delete>

    <update id="deleteUserById" parameterType="java.lang.Integer">
        update sys_user
        set status = 3
        where id = #{id}
    </update>

    <update id="updateUser" parameterType="com.skotori.sunzboot.module.sys.model.SysUser">
        update sys_user set
        <if test="password != null and password != ''">
            password = #{password},
        </if>
        <if test="salt != null and salt != ''">
            salt = #{salt},
        </if>
        <if test="name != null and name != ''">
            `name` = #{name},
        </if>
        <if test="avatar != null and avatar != ''">
            avatar = #{avatar},
        </if>
        <if test="sex != null and sex != ''">
            sex = #{sex},
        </if>
        <if test="birthday != null">
            birthday = #{birthday},
        </if>
        <if test="email != null and email != ''">
            email = #{email},
        </if>
        <if test="phone != null and phone != ''">
            phone = #{phone},
        </if>
        <if test="deptId != null and deptId != ''">
            dept_id = #{deptId},
        </if>
        <if test="status != null and status != ''">
            status = #{status},
        </if>
        <if test="note != null and note != ''">
            note = #{note},
        </if>
        update_user = #{updateUser}
        where id = #{id}
    </update>

</mapper>